{%extends 'disciplina.html'%}

{%block 'linkBack'%}<a href="http://localhost:8000/home/">voltar</a>{% endblock %}

{%block 'title'%}Sistemas Inteligentes Aplicados{%endblock%}

{%block 'titleBody'%}Sistemas Inteligentes Aplicados{%endblock%}
{%block 'teacherName'%}Thiago Franca Naves{%endblock%}


{%block 'textObjetive'%} Apresentar aos discentes os conceitos de planejamento e resolução de problemas que envolvem
conjuntos de ações e planos. Princípios de incerteza e uso de raciocínio probabilístico para problemas em ambientes
incertos e com informação parcial. O uso de técnicas de tomada de decisão para ambientes variados, com junção de
conceitos vistos previamente na disciplina. Explorar os paradigmas de aprendizado em inteligência artificial, explorando
as principais técnicas e relacionando os diferentes paradigmas de aprendizado e tipos de problemas indicados para cada
um. {%endblock%}


{%block 'textCourseSyllabus'%}Planejamento. Raciocínio incerto. Tomada de decisão. Aprendizagem. Aprendizagem Não
Supervisionado. Aprendizagem por reforço.{%endblock%}