{%extends 'base.html'%}
{% load static%}
{%block 'body'%}

<head>
    <link href="{% static 'index.css'%}" rel="stylesheet">
</head>

<body>
    <div class="gallery">
        {% for truck in trucks %}
        {%block 'linkBack'%}
        <a href="http://localhost:8000/gallery/nft/{{truck.id}}/">
            <div class="cardNFT">
                <img src={{truck.image}} width="180" height="180">
                <h3 class="nameTruck">{{truck.name}}</h3>
            </div>
        </a>
        {% endblock %}
        {% endfor %}
    </div>
</body>

{%endblock%}